/* App.css */
.signup-container {
  position: relative;
  justify-content: center;
  align-items: center;
  top: 125px;
  background: var(--white-color);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.468);
    
  }
  h2{
    color: #0c0c0c;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    margin-bottom: 8px;
    align-items: center;
    color: #090909;
  }
  
  input {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 12px;
    
    margin-right: 15px;
    box-sizing: border-box;
    width: 100%;

  }
  
  button {
    
    background: #c85f03;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #ea7209;
  }
  